.TodoForm{
    padding-top: 100px;
}

.buttonAdd{
    padding: 7px;
    border-radius: 5px;
    transition-duration: 0.4s;
    border: 2px solid #34A853;
}

.buttonAdd:hover {
    background-color: #34A853; /* Green */
    color: white;
}